@import "variables";

@import "~bootstrap";
@import "~bootstrap-vue";

body{
  background-color: $primary;
}

.btn {
  background-color: transparent;
  border-color: transparent;
}

.btn, h1, h2, h3, h4, h5, h6 {
  font-family: 'Berkshire Swash', cursive;
  color: $tertiary;
}
.card-img{
  max-width: 250px;
  max-height: 250px;
}

.suggested-item .card-img{
  max-width: 150px;
}

.suggested-item .card{
  max-width: 300px;
}



#app {

  .nav-link{
    font-family: 'Comfortaa', cursive;
    color: $tertiary;

  }

  .nav-link:hover{
    text-shadow: 2px 2px $primary;
  }


  .btn:hover, .btn:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }




}


